@import "../../styles/mixins/breakpoints.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

@keyframes gentle-drift {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.wrapper {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 20px;
  justify-content: flex-end;
}

.starImage,
.insertImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.blockItem {
  text-align: justify;
  text-justify: inter-word;
  padding: 10px;
  border-radius: 8px;

  p {
    margin: 0;
    color: $color-blue;
    font-family: "Ysabeau SC";
    line-height: 1.5;
    font-size: 14px;

    @include breakpoints(sm) {
      font-size: 15px;
    }
    @include breakpoints(md) {
      font-size: 16px;
    }
    @include breakpoints(lg) {
      font-size: 17px;
    }
    @include breakpoints(xl) {
      font-size: 18px;
    }
    @include breakpoints(xxl) {
      font-size: 20px;
    }
  }
}

.transparentBlock {
  position: absolute;
  top: 0;
  margin: 20px;
  opacity: 100%;
  background-color: fade-out($color-input-background, 0.5);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: auto;
  align-items: stretch;
  max-width: 90%;
  flex-wrap: nowrap;

  .leftBlock,
  .rightBlock {
    flex: 1;
    padding: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .leftBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    padding-top: 0;
    gap: 20px;
    overflow: hidden;
  }

  .blockTitle {
    color: $color-blue;
    margin-bottom: 15px;
    font-size: 1.5rem;

    @include breakpoints(sm) {
      font-size: 1.6rem;
    }
    @include breakpoints(md) {
      font-size: 1.7rem;
    }
    @include breakpoints(lg) {
      font-size: 1.8rem;
    }
    @include breakpoints(xl) {
      font-size: 2rem;
    }
    @include breakpoints(xxl) {
      font-size: 2.5rem;
    }
  }

  .blockCaption {
    color: darken($color-blue, 10%);
    margin-bottom: 25px;
    font-size: 1rem;

    @include breakpoints(sm) {
      font-size: 1.1rem;
    }
    @include breakpoints(md) {
      font-size: 1.2rem;
    }
    @include breakpoints(lg) {
      font-size: 1.3rem;
    }
    @include breakpoints(xl) {
      font-size: 1.4rem;
    }
    @include breakpoints(xxl) {
      font-size: 1.6rem;
    }
  }

  .rightBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .submitButtonContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoints(xl) {
        justify-content: flex-end;
      }
      @include breakpoints(xxl) {
        justify-content: flex-end;
      }
    }

    .submitButton {
      padding: 12px 24px;
      background-color: $color-blue;
      color: white;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.2s ease;
      font-size: 1rem;

      @include breakpoints(sm) {
        font-size: 1.05rem;
      }
      @include breakpoints(md) {
        font-size: 1.1rem;
      }
      @include breakpoints(lg) {
        font-size: 1.15rem;
      }
      @include breakpoints(xl) {
        font-size: 1.2rem;
      }
      @include breakpoints(xxl) {
        font-size: 1.3rem;
      }

      &:hover {
        background-color: darken($color-blue, 10%);
      }
    }

    .tabs {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      margin-bottom: 15px;
      justify-content: center;

      .tab,
      .tabActive {
        padding: 5px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        border: none;
        background: none;
        position: relative;
        color: $color-light-blue;
        font-weight: bold;
        font-size: 1rem;

        @include breakpoints(sm) {
          font-size: 1.05rem;
        }
        @include breakpoints(md) {
          font-size: 1.1rem;
        }
        @include breakpoints(lg) {
          font-size: 1.15rem;
        }
        @include breakpoints(xl) {
          font-size: 1.2rem;
        }
        @include breakpoints(xxl) {
          font-size: 1.3rem;
        }
      }

      .tabActive {
        color: $color-light-blue;
        background: $color-blue-tab;
        border-radius: 30px;
      }
    }

    .inputLabel {
      color: $color-light-blue;
      font-weight: 500;
      font-size: 0.9rem;

      @include breakpoints(sm) {
        font-size: 0.95rem;
      }
      @include breakpoints(md) {
        font-size: 1rem;
      }
      @include breakpoints(lg) {
        font-size: 1.05rem;
      }
      @include breakpoints(xl) {
        font-size: 1.1rem;
      }
      @include breakpoints(xxl) {
        font-size: 1.2rem;
      }
    }
  }
}

.book {
  display: none;

  @include breakpoints(xl) {
    display: block;
    position: absolute;
    animation: gentle-drift 2s ease-in-out infinite;

    &:nth-of-type(1) {
      top: 100px;
      left: 1%;
    }
    &:nth-of-type(2) {
      top: 10px;
      left: 40%;
    }
    &:nth-of-type(3) {
      top: 350px;
      left: 90%;
    }
    &:nth-of-type(4) {
      top: 900px;
      left: 20%;
    }
    &:nth-of-type(5) {
      top: 700px;
      left: 60%;
    }
  }
}

@include breakpoints(xs) {
  .wrapper {
    height: 1400px;
    justify-content: end;
  }
  .transparentBlock {
    flex-direction: column;

    .leftBlock,
    .rightBlock {
      flex: none;
      width: 100%;
      min-height: 50%;
    }
  }
}

@include breakpoints(sm) {
  .wrapper {
    height: 1500px;
    justify-content: end;
  }
  .typeTabs {
    gap: 15px;
    font-size: 1rem;
  }
  .transparentBlock {
    flex-direction: column;

    .leftBlock,
    .rightBlock {
      flex: none;
      width: 100%;
      min-height: 50%;
    }
  }
}

@include breakpoints(md) {
  .wrapper {
    height: 1800px;
  }

  .transparentBlock {
    flex-direction: column;

    .leftBlock,
    .rightBlock {
      flex: none;
      width: 100%;
      min-height: 50%;
    }
  }
}

@include breakpoints(lg) {
  .wrapper {
    height: 850px;
  }

  .transparentBlock {
    flex-direction: row;

    .leftBlock,
    .rightBlock {
      flex: 1;
      width: auto;
      min-height: auto;
    }
  }
}

@include breakpoints(xl) {
  .wrapper {
    height: 400px;
  }

  .transparentBlock {
    max-width: 70%;
    flex-direction: row;
  }
}

@include breakpoints(xxl) {
  .wrapper {
    height: 700px;
  }

  .transparentBlock {
    max-width: 70%;
    flex-direction: row;
  }
}
