@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputField {
  padding: 12px 15px;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Ysabeau SC";
  background-color: $color-blue-tab;
  border: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-light-blue;
  }
}
