@import "../../styles/mixins/breakpoints.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

@keyframes gentle-drift {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  display: none;
}

.title {
  font-size: $font-size-large;
  font-family: $font-family;
  line-height: 150%;
  font-weight: bold;
  margin-bottom: 15px;
}

.caption {
  font-family: $font-family;
  line-height: 150%;
  font-weight: bold;
  font-style: italic;
  color: $color-blue;
}

.itemsWrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: $font-family-secondary;
  color: $color-blue;
  line-height: 150%;
  font-size: $font-size-small;
}

.itemNum {
  font-family: $font-family;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}

.itemTitle {
  font-weight: bold;
  margin-bottom: 8px;
}

.book {
  display: none;
}

@include breakpoints(sm) {
  .wrapper {
    position: relative;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .head {
    width: 80%;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .image {
    display: block;
    position: absolute;
    width: 320px;
    height: auto;
    object-fit: contain;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .itemsWrapper {
    width: 100%;
    margin-top: 0;
  }

  .item {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

    &:nth-child(1) {
      top: 400px;
    }

    &:nth-child(2) {
      top: 550px;
    }

    &:nth-child(3) {
      top: 700px;
    }
  }
}

@include breakpoints(xl) {
  .wrapper {
    height: 1100px;
  }
  .title {
    font-size: 37px;
  }

  .caption {
    font-size: 25px;
  }

  .head {
    width: 60%;
  }

  .itemNum {
    font-size: 40px;
  }

  .itemTitle {
    margin-bottom: 30px;
  }

  .item {
    width: 60%;
    font-size: 22px;
    gap: 40px;

    &:nth-child(1) {
      top: 500px;
    }

    &:nth-child(2) {
      top: 700px;
    }

    &:nth-child(3) {
      top: 850px;
    }
  }

  .book {
    display: block;
    position: absolute;
    animation: gentle-drift 2s ease-in-out infinite;
    top: 100px;
    left: 10%;

    &:nth-of-type(2) {
      top: 10px;
      left: 40%;
    }

    &:nth-of-type(3) {
      top: 350px;
      right: 10%;
    }

    &:nth-of-type(4) {
      top: 900px;
      left: 20%;
    }

    &:nth-of-type(5) {
      top: 700px;
      left: 60%;
    }
  }
}

@include breakpoints(xxl) {
  .wrapper {
    height: 1900px;
  }

  .head {
    top: 10%;
    width: 50%;
  }

  .title {
    font-size: 50px;
  }

  .caption {
    font-size: 40px;
  }

  .image {
    top: 20%;
    width: 800px;
  }

  .itemNum {
    font-size: 70px;
  }

  .item {
    width: 50%;
    font-size: 40px;
    line-height: 150%;
    gap: 40px;

    &:nth-child(1) {
      top: 800px;
    }

    &:nth-child(2) {
      top: 1100px;
    }

    &:nth-child(3) {
      top: 1400px;
    }
  }
}
