/* Bergamasco */
@font-face {
  font-family: 'Bergamasco';
  src: url('/fonts/BergamascoRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bergamasco';
  src: url('/fonts/BergamascoBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bergamasco';
  src: url('/fonts/BergamascoLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Italic версии */
@font-face {
  font-family: 'Bergamasco';
  src: url('/fonts/BergamascoRegularitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Ysabeau SC */
@font-face {
  font-family: 'Ysabeau SC';
  src: url('/fonts/YsabeauSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Ysabeau SC';
  src: url('/fonts/YsabeauSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}