@import "../../styles/mixins/breakpoints.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 20px;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* Секция загрузки */
.uploadContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.uploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 2000px;
  margin: 0 auto;
}

.uploadLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f0f0f0;
  transition: all 0.3s ease;

  &:hover {
    background: #e0e0e0;
    transform: scale(1.05);
  }
}

.uploadIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.uploadTitle {
  font-size: 1.6rem;
  color: #c1e3ed;
  text-align: center;
  margin: 0;
}

.divider {
  width: 100%;
  height: 20px;
  object-fit: cover;
}

/* Основной контент */
.content {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}
.pageTitle {
  font-size: 1.5rem;
  color: #c1e3ed;
  text-align: center;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 50px;
}

.showMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.showMoreArrow {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-left: 4px solid $color-blue;
  border-bottom: 4px solid $color-blue;
  transform: rotate(-45deg);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.showMoreArrow:hover {
  transform: rotate(-45deg) scale(1.1);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.emptyMessage {
  text-align: center;
  color: #666;
  margin-top: 50px;
  font-size: 1.2rem;
}
.filterSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px 0;
  font-family: $font-family-secondary;
  flex-wrap: wrap;
  align-items: center;
}

.selectInput {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 20px;
  border: 1.5px solid $color-blue;
  background-color: #c5d5e3;
  cursor: pointer;
  transition: border-color 0.2s;
  color: $color-blue;
  width: fit-content;
  min-width: 100px;

  &:focus {
    outline: none;
    border-color: $color-blue;
  }
}

.selectInput option {
  background-color: #c5d5e3;
  color: $color-blue;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}

.selectInput:focus-visible {
  outline: none;
}

.dropdownContainer {
  position: relative;
}
.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #c5d5e3;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(48, 67, 123, 0.6);
  z-index: 10;
  color: $color-blue;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5;
  overflow: hidden;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f0f0f0;
  }

  &.active {
    background-color: #8eadc6;
    color: #d7e5f1;
  }

  // Первый элемент
  &:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 12px;
  }

  // Последний элемент
  &:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 12px;
  }
}

.selectedTagsBox {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  color: $color-blue;
  border-color: $color-blue;
  justify-content: flex-start;
}

.selectedTag {
  background-color: #c5d5e3;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $color-blue;
  border: 1.5px solid $color-blue;
}

.removeTagButton {
  background: none;
  border: none;
  color: $color-blue;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
}

.book {
  position: absolute;
  display: block;
  width: 120px;
  height: auto;
}

.book:nth-of-type(1) {
  animation: float1 3s ease-in-out infinite;
  top: 200px;
  left: 2%;
}
.book:nth-of-type(2) {
  animation: float2 4s ease-in-out infinite;
  top: 600px;
  left: 5%;
}
.book:nth-of-type(3) {
  animation: float3 5s ease-in-out infinite;
  top: 880px;
  left: 6%;
}
.book:nth-of-type(4) {
  animation: float4 3.5s ease-in-out infinite;
  top: 150px;
  right: 2%;
  left: auto;
}
.book:nth-of-type(5) {
  animation: float5 4.5s ease-in-out infinite;
  top: 400px;
  right: 5%;
  left: auto;
}
.book:nth-of-type(6) {
  animation: float6 6s ease-in-out infinite;
  top: 800px;
  right: 8%;
  left: auto;
}

@keyframes float1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes float3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float4 {
  0% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(-5px, 0);
  }
}

@keyframes float5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float6 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(0, -10px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 1990px) {
  .book {
    display: none;
  }
}

.menuContainer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background-color: white;
}

.menuList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
  padding-left: 0;
  font-size: 24px;
  font-weight: bold;
  color: $color-blue;
}

.menuLink {
  color: $color-blue;
  transition: 0.2s;

  &.active {
    padding: 8px;
    border-radius: 30px;
    background-color: $color-blue-tab;
  }
}

.menuLink:hover {
  color: $color-dark-blue;
}

.menuItem {
  color: $color-blue;
}

@include breakpoints(sm) {
  .menuContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: white;
  }

  .menuList {
    flex-direction: row;
    gap: 50px;
  }

  .menuLink {
    max-width: 170px;
  }
}

@media (max-width: 1400px) {
  .menuContainer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menuList {
    justify-content: center;
    width: 100%;
  }
}

@include breakpoints(xl) {
  .menuContainer {
    display: none;
  }
}
