@import "../../styles/mixins/breakpoints.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

@keyframes gentle-drift {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin: 20px auto 0;
  box-sizing: border-box;
}

.uploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 2000px;
  margin: 0 auto;
}

.uploadIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: filter 0.3s ease;
  filter: invert(10%) sepia(80%) saturate(60%) hue-rotate(161deg)
    brightness(96%) contrast(81%);

  &:hover {
    filter: invert(10%) sepia(80%) saturate(60%) hue-rotate(161deg)
      brightness(66%) contrast(81%);
  }
}

.uploadTitle {
  font-size: 27px;
  color: $color-light-blue;
  text-align: center;
  margin: 0;
}

.divider {
  width: 100%;
  height: 20px;
  object-fit: cover;
}

.pageTitle {
  font-size: 27px;
  color: $color-light-blue;
  text-align: center;
  margin-bottom: 30px;
}

.memeGallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1440px;
}

.showMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.filterSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px 0;
  font-family: $font-family-secondary;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-start;
}

.book {
  display: none;
}

@include breakpoints(sm) {
  .memeGallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .image {
    height: 200px;
  }
}

@include breakpoints(xl) {
  .memeGallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .image {
    height: 200px;
  }
}

@include breakpoints(xxl) {
  .image {
    height: 200px;
  }

  .book {
    display: block;
    position: fixed;
    animation: gentle-drift 2s ease-in-out infinite;
    top: 100px;
    left: 6%;

    &:nth-of-type(2) {
      top: 900px;
      left: 90%;
    }

    &:nth-of-type(3) {
      top: 400px;
      left: 90%;
    }

    &:nth-of-type(4) {
      top: 900px;
      left: 3%;
    }

    &:nth-of-type(5) {
      top: 500px;
      left: 3%;
    }
  }
}
