@import '@/styles/variables/colors';

.body {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  padding-top: 96px;

  color: $color-white;

  background-color: $color-black;
}

.main {
  flex: 1;
}