@import '../../styles/variables/colors.scss';
@import '../../styles/mixins/background.scss';

.body {
  @include mystic-background;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  color: $color-light-blue;
}

.main {
  flex: 1;
  border-radius: 12px;
  padding: 2rem;
}