$color-blue: #30437b;
$color-light-blue: #c1e3ed;
$color-blue-tab: #75a7c3;
$color-dark-blue: #1e2a4f;
$color-noise-opacity: 0.15;
$color-link-hover: #89dfde;
$color-background: #c8dce4;
$color-white-blue: #c5d5e3;
$color-border: #ccc;
$color-text-item: #d7e5f1;
$color-active: #8eadc6;
$color-hover: #f0f0f0;
$color-dropdown-shadow: rgba(48, 67, 123, 0.6);
$color-modaloverlay-back: rgba(0, 0, 0, 0.7);
$gradient-start: rgba(0, 0, 0, 0.85);
$gradient-middle: rgba(0, 0, 0, 0.4);
$gradient-end: transparent;
$color-blue-shadow: rgba($color-blue, 0.6);