@import "../../styles/mixins/breakpoints.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

@keyframes gentle-drift {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.predictionsList {
  background-color: $color-background;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.item {
  width: 90%;
}

.meta {
  background-color: $color-blue-tab;
  border-radius: 30px;
  font-size: 20px;
  font-family: $font-family-secondary;
  padding: 35px;
  text-align: start;
}

.text {
  color: $color-blue;
}

.tag {
  font-size: 16px;
  color: $color-light-blue;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.loadMoreButton {
  background: transparent;
  border: none;
  transition: filter 0.3s ease;
}

.loadMoreButton:hover {
  filter: brightness(0.2);
}

.commentSection {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-self: center;
  color: $color-blue;
  font-size: 16px;
  &.isOpen {
    flex-direction: column;
    align-self: center;
    width: 100%;
  }
}

.label {
  text-decoration: underline;
  margin-right: 16px;
  transition: color 0.2s;
  cursor: pointer;
}

.label:hover {
  color: $color-dark-blue;
}

.heart {
  height: 28px;
  width: 28px;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.heart:hover {
  filter: brightness(0.2);
}

.likes {
  display: flex;
  flex-direction: row;
  font-style: bold;
}

.book {
  display: none;
}

@include breakpoints(sm) {
  .wrapper {
    margin-top: 40px;
  }

  .list {
    margin-top: 40px;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .meta {
    min-height: 165px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .commentSection {
    margin: 0;
    align-self: end;

    &.isOpen {
      flex-direction: column;
      align-self: center;
      width: 100%;

      .label {
        margin-top: 20px;
      }
    }
  }
}

@include breakpoints(xl) {
  .wrapper {
    max-width: 80%;
    margin: 40px auto 0;
  }

  .list {
    margin-top: 50px;
  }

  .item {
    gap: 30px;
  }

  .text {
    font-size: 24px;
  }

  .meta {
    height: auto;
    min-height: 200px;
  }

  .tag {
    font-size: 20px;
  }

  .image {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
  }

  .commentSection {
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }

  .likesNum {
    margin-bottom: 3px;
  }

  .likes {
    justify-content: center;
    align-items: end;
  }

  .book {
    display: block;
    position: fixed;
    animation: gentle-drift 2s ease-in-out infinite;
    top: 100px;
    left: 1%;

    &:nth-of-type(2) {
      top: 200px;
      left: 90%;
    }

    &:nth-of-type(3) {
      top: 550px;
      left: 90%;
    }

    &:nth-of-type(4) {
      top: 400px;
      left: 3%;
    }

    &:nth-of-type(5) {
      top: 650px;
      left: 0%;
    }
  }
}

@include breakpoints(xxl) {
  .wrapper {
    max-width: 60%;
  }

  .text {
    font-size: 40px;
  }

  .tag {
    font-size: 30px;
  }

  .image {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
  }

  .commentSection {
    font-size: 30px;
    align-items: center;
  }

  .meta {
    height: auto;
    min-height: 400px;
  }

  .likes {
    justify-content: center;
    align-items: end;
  }

  .likesNum {
    margin-bottom: 0;
  }

  .book {
    display: block;
    position: fixed;
    animation: gentle-drift 2s ease-in-out infinite;
    top: 100px;
    left: 6%;

    &:nth-of-type(2) {
      top: 900px;
      left: 90%;
    }

    &:nth-of-type(3) {
      top: 400px;
      left: 90%;
    }

    &:nth-of-type(4) {
      top: 900px;
      left: 3%;
    }

    &:nth-of-type(5) {
      top: 500px;
      left: 3%;
    }
  }
}
